
*{
    font-family: 'VT323',monospace;
}

body {
    margin: 0;
    padding: 0;
    background: #E1DEA9;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
  }
  .window {
    height: 400px;
    width: 800px;
    background: #c0c0c0;
    margin: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 40px;
  }
  
  .title-bar {
    background: #000080;
    color: #ffffff;
    padding: 2px;
    position: relative;
     height:50px;
  }
  
  .title-bar-text {
    display: inline-block;
    padding: 2px 4px;
    text-shadow: #000080;
    font-size: 40px;
  }
  
  .window-body {
    padding: 10px;
  }
 
  
  @font-face {
    font-family: 'VT323';
    src: local('VT323'), url('https://fonts.googleapis.com/css2?family=VT323&display=swap') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  